.banner {
    background: url(https://img.magnific.com/premium-photo/vector-abstract-blue-background-with-musical-notes_575980-25387.jpg?semt=ais_hybrid);
    background-size: cover;
    background-position: center;
    width: auto;
    height: 600px;
    min-height: 417px;
}

.banner-text {
    padding: 100px 0 0;
}
.logo {
    margin-left: 30px;
    font-size: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    color: #D8D3D3;
    font-family: 'Times New Roman', Times, serif;
    background-color: #0f3460;
}

.header a {
    padding: 10px;
    text-decoration: none;
    margin-right: 30px;
    color: #D8D3D3;
}